extends layout

block content
  .centered
    form(id="urlRecieverForm", method="post")
      .input-group
        input(type="text", class="url-input", id="inputURL", name="url", placeholder="website address", require)
      .input-group

  #gallery