.bgr {
  background-color: red;
  color: white;
}

.bgw {
  background-color: white;
  color: black;
}

.bgg {
  background-color: green;
  color: white;
}

.bgb {
  background-color: blue;
  color: white;
}

.devr {
  outline: 1px solid red;
}

.devb {
  outline: 1px solid blue;
}

.devw {
  outline: 1px solid white;
}

.devg {
  outline: 1px solid green;
}
