@include padding-top();
@include padding-right();
@include padding-bottom();
@include padding-left();

@include margin-top();
@include margin-right();
@include margin-bottom();
@include margin-left();

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}
