body {
  background-color: $brand-white;
}

*::-webkit-input-placeholder {
  color: $brand-gray;
  text-transform: lowercase;
}
*:-moz-placeholder {
  color: $brand-gray;
  opacity: 1;
  text-transform: lowercase;
}
*::-moz-placeholder {
  color: $brand-gray;
  opacity: 1;
  text-transform: lowercase;
}
*:-ms-input-placeholder {
  color: $brand-gray;
  text-transform: lowercase;
}
*::-ms-input-placeholder {
  color: $brand-gray;
  text-transform: lowercase;
}

*::placeholder {
  color: $brand-gray;
  text-transform: lowercase;
}
